.box{ id: "reminder-#{reminder.id}" }
  %li
    = reminder.message + " - " + reminder.user.firstname
    - if can? :delete, Reminder
      = link_to image_tag('delete.png'), reminder, remote: true, method: 'delete'
