%h2 New Fine
= error_messages_for @fine

#fine-form
  = render 'form'
- if @repair.present?
  #fine-repair
    %h3 Associated Repair:
    = render 'repairs/repair', repair: @repair

- content_for :header_tags do
  - stylesheet_link_tag 'fines', :plugin => 'redmine_scheduler'