%h2 New 3D Print
= error_messages_for @printing3d
= render 'form'

/ - content_for :header_tags do
/   - javascript_include_tag 'printing3d.js', plugin: 'redmine_scheduler'
/ - content_for :header_tags do
/   - stylesheet_link_tag 'printing3d', :plugin => 'redmine_scheduler'