<h2>Manage#index</h2>
<h3>All Lab Coach Shifts:</h3>
<br>
<ul>
	<% @allshifts.each do |shift| %>
		<li>ID:<%= shift[:id] %> - <%= User.find(shift[:assigned_to_id]) %> - <%= shift[:subject] %></li>
	<% end %>
</ul>