<h2>Manage Lab Coach Bookings</h2>
<br>
<ul>
	<% @bookedtimeslots.each do |timeslot| %>
	  <li><h4><%= format_date(timeslot.issue.start_date) %> - <%= timeslot.issue.assigned_to.firstname %> - <%= timeslot.start_time.strftime('%I:%M %P') %></h4></li>
	<% end %>
</ul>

