<div class="box tabular">
	<div class="time-title-container">
		<div class="time-title-left">Time Analysis</div>
		<div class="time-title-right">Fear it</div>
	</div>
	<div><img src="<%= pie_url_by_attribute(user, 20, "project") %>" /></div>
</div>

		