<h2>Assigned skills for <%= @user[:login] %></h2>

<% @user.skills.each do |skill| %>
  <p>
  <%= skill[:name] %> : <%= link_to 'Remove Skill', {:action => 'delete', :id => skill[:id]} %>
  </p>
<% end %>