%h3 Timesheet for #{@user.name} : Week of Monday, #{@weekof.strftime('%b %d, %Y')}

- days_in_week.each do |day|
  %h3= day.strftime('%b %d, %Y')
  %table
    %tr
      %th ID
      %th Project
      %th Shift/Issue
      %th Hours
      %th Activity
      %th Comments
    - @time_entries.ondate(day).each do |entry|
      = render 'timesheets/time_entries/time_entry', time_entry: entry
