<div>
  <table class="list issues">
    <h3>Week of <%= @weekof.to_s %></h3>

      <% (1..7).each do |day| %><!--can't be 0 to 6, Date.commercial doesn't take 0-->
        <% date = Date.commercial(@year_selected, @cweek, day) %>
          <th><%= date.strftime("%A, %b %d")  %></th>
          <td>
            <p>Time Entries This Day</p>
            <%= render 'time_entries', {:entries_by_day=>@entries_by_day, :date=>date} %>
          <hr>
            <%= render 'shifts_nonsorted', {:shifts_by_day=> @shifts_by_day,:date=>date} %>
          </td>
          </tr>
      <%end%>  
  </table>
</div>