<div>
  <table class="list issues">
    <h3>Time Entries Sorted by Day</h3>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>

    <tr>
      <% @days_of_week.each do |day| %>
        <td>
          <% @entries_by_day[day].each do |entry| %>
            <%= entry.activity %><br>
            <%= link_to_project(entry.project) %><br>
            <%= link_to_issue(entry.issue, :truncate => 14) %><br>
            <strong>Hours: </strong><%= entry.hours %>
          <%end%>
        </td>
      <% end %>
    </tr>
  </table>
</div>
