<div>
  <table class="list issues">
    <h3>Shifts Sorted by Day</h3>

      <% @shifts_day_of_week.each do |day| %>
      
        <th><%= day.strftime("%A") %></th>
        <tr>
        <td>
          <% @shifts_by_day[day].each do |shift| %>
            <%= link_to shift.subject, {:controller => 'issues', :action => 'show', :id => shift[:id]} %>
            <%= shift.tracker.name %>
            <%= link_to image_tag('time_add.png'), {:controller => 'timelog', :action => 'new', :issue_id => shift[:id]} %>
          <%end%>
        </td>
        </tr>
      <% end %>
  </table>
</div>
