#plugin-navbar {top: 0px;  left:2px; margin-right: -500px;}
#plugin-navbar ul {margin: 0;  padding: 0;}
#plugin-navbar li {
  background-color:#628DB6;
  float:left;
  list-style-type:none;
  margin: 0px 2px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#plugin-navbar li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px 4px 10px;
}
#plugin-navbar li a:hover {background:#759FCF; color:#fff;}
#plugin-navbar li a.selected, #plugin-navbar li a.selected:hover {background:#fff; color:#3E5B76;}