.day {
  clear:both;
  overflow:auto;
}

.day-left {
  float:left;
  width:80%;
}

.day-right {
  float:right;
  width:20%;
  text-align: right;
}

.total-hours {
  text-align:right;
}

.add-time {
  text-align:right;
}

#previous-sheets {
  width:50%;
}

.timesheet-actions div {
  float:left;
}

.actions {
  overflow:auto;
}

#timesheets-table td {
  vertical-align: middle;
}