<h2>Skill Categories</h2>

<%= render 'form' %>

<% @skillcats.each do |skillcat| %>
  <p>
  <strong><%= skillcat[:name] %></strong> : <%= link_to 'Delete Skill Category', {:action => 'destroy', :id => skillcat[:id]}, :confirm => 'Delete skill category?' %>
  </p>
<% end %>

<%= link_to 'Back to Skills', {:controller => 'skills', :action => 'index'} %>