= error_messages_for :group
.box.tabular
  %p= f.text_field :lastname, :label => :field_name
  %p= f.select :manager_id, (User.all.map {|u| [u.firstname + " " + u.lastname, u.id]}) << ["None", nil], :label => :field_manager
  - @group.custom_field_values.each do |value|
    %p= custom_field_tag_with_label :group, value
