<%= render 'nav/nav'%>
<h2>DMC Lab Coach Signup</h2>

<%= render 'checkform' %>
<%= render 'list' %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'booking', :plugin => 'redmine_scheduler' %>
<% end %>