<h2>DMC Lab Coach Signup</h2>
<p>To sign up for 1/2 hour of tutoring with <%= @timeslot.issue.assigned_to.firstname %> at <%= @timeslot.start_time %>, please complete the form below.</p>
<br>


<%= render 'form' %>
