<li>
  <p><i><%= journal.created_on.strftime("%b %e, %l:%M %p") %> by <%= journal.user.name %>:</i></p>
  <ul>
  <% details_to_strings(journal.details, false, :only_path => false).each do |string| %>
    <li><%= string %></li>
  <% end %>
  <% if journal.notes.present? %>
    <li><strong>Comment:</strong> <i><%= journal.notes %></i></li>
  <% end %>
  </ul>
</li>


