%ul
  - unassigned_equip_probs.each do |prob|
    %li= link_to "#{prob.id.to_s} | #{prob.subject if prob.subject.present?} - #{prob.description.truncate(40) if prob.description.present?}", issue_path(prob)
