<div>
	<h2>Special options for <%= @issue.tracker.name %></h2>
</div>
<div>
	<% case @issue.tracker.name
	when "Task" %>
      <%= render 'hooks/redmine_scheduler/task' %>
    <% when "Training Goal" %>
      <%= render 'hooks/redmine_scheduler/goal' %>
    <% when "Equipment Problem" %>
      <%= render 'hooks/redmine_scheduler/repair' %>
    <% else %>
      <h3>No Special Options</h3>
    <% end %>
</div>
