<% case @issue.tracker.name
   when "Equipment Problem" %>
    <% if @issue.repair.present? %>
    <div>
      <%= render 'repairs/repair', :repair => @issue.repair %>
    </div>
    <% end %>
<% end %>