<% case @issue.tracker.name
   when "Equipment Problem" %>
    <% if @issue.repair.present? %>
    <div class="box">
      <h4>Repair Info:</h4>
      <%= render 'repairs/repair', :repair => @issue.repair %>
    </div>
    <% else %>
      <p><em>Equiupment Problem does not have additional repair/patron data.</em><%= link_to "(Add)", {controller: 'repairs', action: 'new', issue_id: @issue} %></p>
    <% end %>
<% when "Poster Print" %>
    <% if @issue.poster.present? %>
      <%= render @issue.poster %>
    <% else %>
      <p><em>Poster Print does not have any poster data!</em><%= link_to "(Add)", {controller: 'posters', action: 'new', issue: @issue} %></p>
    <% end %>
<% end %>