<h3>Please be specific about how you spent your time!</h3>
<ul>
	<li>Examples:</li>
	<i>
	<li>"I helped (patron name) with final cut"</li>
	<li>"I cleaned the workstation keyboards"</li>
	<li>"I designed a layout for the flyer for (event)"</li>
</i></ul>
