          <td><%= link_to 'Timesheets', { :controller => 'timesheets' } %></td>
          <td><%= link_to 'Skill Levels', { :controller => 'levels' } %></td>
          <td><%= link_to 'Book Student Time', { :controller => 'timeslots', :action => 'find' } %></td>
          <td><%= link_to 'Skills', {:controller => 'skills', :action => 'index'} %></td>

          