          <td><%= link_to "Analyze Time", {:controller=> 'command'} %></td>
          <td><%= link_to 'Book Student Time', { :controller => 'timeslots', :action => 'find' } %></td>
          <td><%= link_to "Student Skill Levels", {:controller=> 'prostaff', :action => 'student_levels'} %></td>
