%li= link_to 'Book Student Time', { :controller => 'timeslots', :action => 'find' }
%li= link_to 'Manage Bookings', { :controller => 'bookings', :action => 'index' }
%li= link_to "Student Skill Levels", {:controller=> 'prostaff', :action => 'student_levels'}
%li= link_to "Analyze Time", {:controller=> 'command'}
