          <td><%= link_to "Today's Shifts", {:controller => 'stustaff'} %></td>
          <td><%= link_to 'Timesheets', { :controller => 'timesheets' } %></td>
          <td><%= link_to 'New Timesheet', { :controller => 'timesheets', :action => 'new' } %></td>
          <td><%= link_to 'Book Student Time', { :controller => 'timeslots', :action => 'find' } %></td>
